.error_login{
	color: #ff0000;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   text-align:center;
}

table td{
	border: 1px #ccc solid; 
}

label {
	display:block;
	margin-right: 20px;
}

select{
	width: 80%;
}

.boton {
	background: #DBDBDB;
	border: 1px solid white;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #666;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	display: block;
}

#form_login{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   height: 400px;
   margin-top: -200px; /* Half the height */
   margin-left: -200px; /* Half the width */
}

#form_login input[type=submit]{
	display:block;
}

button, #eventos td, #boton_ticket, #boton_omitir{
	cursor:pointer;
}

.ok {
	background:url(../images/3.png) no-repeat center left;
	float: left;
	width: 100%;
}

.error {
	background:url(../images/error.png) no-repeat center left;
	float: left;
	width: 100%;
	padding-left: 20px;
}
div.valida_error{
	background-image:url(../images/error.png);
	background-repeat:no-repeat;
	padding-left: 25px;
	
}
/*
.valida_ok{
	background-image:url(../images/3.png);
	background-repeat:no-repeat;
	background-position: right;
	padding-left: 25px;
}*/

/* Inicio Mantenedor de operador */
/*
#ajaxLoading {
    background: #3A3A3A;
    color: #fff;
    display: none;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 40%;
    padding: 8px;
    width: 106px;
    z-index: 9999;
}

#ajaxLoading span {
    float: right;
    margin: 2px 0 0 0;
}
#registros {
	 display: none;
}
#registros table {
	position: relative;
	display: block;
	width: 100%;
	margin: 1em; 
	border-collapse: collapse; 
}
#registros tbody td, th { 
padding: .3em; 
border: 1px #ccc solid; 
}
#registros thead { 
	background: #e0e0e3; 
}
*/
#crear_operador{
	 display: none;
}
#actualizar_operador{
	 display: none;
}
#msgDialog{
	 display: none;
}
#delConfDialog{
	 display: none;
}
#buttonNuevo{
	background-image:url(../images/add-icon_green.png);
	background-repeat:no-repeat;
	height:24px;
	width:24px;
	display: block;
	border: none;
}
#buttonDel{
	background-image:url(../images/delete-icon_red.png);
	background-repeat:no-repeat;
	height:24px;
	width:24px;
	border: none;
}
/* Fin Mantenedor de operador */




#clientes table {
	position: relative;
	display: block;
	width: 100%;
	margin: 1em; 
	border-collapse: collapse; 
}
#clientes tbody td, th { 
	padding: .3em; 
	border: 1px #ccc solid; 
}
/*
#clientes thead { 
	background: #e0e0e3; 
}
*/
#clientes tfoot tr td { 
	border: none; 
}
#operadores table {
	position: relative;
	display: block;
	width: 100%;
	margin: 1em; 
	border-collapse: collapse; 
}
/*
#operadores thead { 
	background: #e0e0e3; 
}
*/
#operadores tbody td, th { 
	padding: .3em; 
	border: 1px #ccc solid;
	text-align: center;
}

