/* Inicio estilos GDE f1 */

body {
	background:#e7edf0;
	/*padding-top:7px;*/
	font-family: tahoma;
	font-size: 11px;
	text-align: center;
	
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

}
#contenedor{
	margin: 0px auto;
	/*border: 1px solid #d0d0d0;*/
	background-color: #ffffff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	/*padding: 10px;*/
	/*height: 100%;*/
	/*position:relative;*/
	position:absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	width: 100% !important;
}
.logo_entel{
	background-image: url(../images/adessa_logo.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 62px;
}
.logo_falabella{
	background-image: url(../images/logo_falabella.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 62px;
}
.caja_login{
	-webkit-border-radius: 8px;
	background-color: #F0F0F0;
	border-color: #A0A0A0;
	border-width: 1px;
	border-style: solid;
	width: 300px;
	margin: auto;
	text-align: left;
}
.caja_login span{
	color: #9FC425;
	display: block;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1.7em;
	text-align: center;
}
.caja_login p{
	color: #000000;
	display: block;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: center;
}
.error_login p{
	color: #ff0000;
	display: block;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	margin-left: 10px;
}
.caja_login input{
	display: block;
	margin-left: 10px;
}
.caja_login label{
	margin-left: 10px;
	text-align: left;
}

.ok_login{
}
.error_login{
	color: #ff0000;
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   text-align:center;
}

label {
	display:block;
	margin-right: 20px;
}

select{
	width: 80%;
}

.boton {
	background: #DBDBDB;
	border: 1px solid white;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #666;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	display: block;
}

#form_login input[type=submit]{
	display:block;
}

button, #eventos td, #eventos_v2 td, #eventos_v3 td, #boton_ticket, #boton_omitir{
	cursor:pointer;
}

.ok {
	background:url(../images/3.png) no-repeat center left;
	float: left;
	width: 100%;
}

.error {
	background:url(../images/error.png) no-repeat center left;
	float: left;
	width: 100%;
	padding-left: 20px;
}
div.valida_error{
	background-image:url(../images/error.png);
	background-repeat:no-repeat;
	padding-left: 25px;
	
}
/*
.valida_ok{
	background-image:url(../images/3.png);
	background-repeat:no-repeat;
	background-position: right;
	padding-left: 25px;
}*/

/* Inicio Mantenedor de operador */
#ajaxLoading {
    background: #3A3A3A;
    color: #fff;
    display: none;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 40%;
    padding: 8px;
    width: 106px;
    z-index: 9999;
}

#ajaxLoading span {
    float: right;
    margin: 2px 0 0 0;
}
#registros {
	 display: none;
}
#registros table {
	position: relative;
	display: block;
	width: 100%;
	margin: 1em;

}
#registros tbody td, th { 
padding: .3em; 
border: 1px #DCDCDC solid; 
}
#registros thead { 
	background-color: #269abc;
	color: #ffffff;
}
#registros tfoot tr td { 
	border: none;
	padding: .3em; 
}

#crear_operador{
	 display: none;
}
#actualizar_operador{
	 display: none;
}
#msgDialog{
	 display: none;
}
#delConfDialog{
	 display: none;
}
#buttonNuevo{
	background-image:url(../images/add-icon_blue.png);
	background-repeat:no-repeat;
	height:24px;
	width:24px;

	border: none;
}
#buttonDel{
	background-image:url(../images/delete-icon_red.png);
	background-repeat:no-repeat;
	height:24px;
	width:24px;
	border: none;
}
/* Fin Mantenedor de operador */




#clientes table  {
	position: relative;
	display: block;
	width: 100%;
	margin: 1em; 
	border-collapse: collapse; 
}
#clientes tbody td, th { 
	padding: 0.3em; 
	border: 1px #DCDCDC solid; 
}
#clientes thead { 
	background-color: #0073ae;
	color: #ffffff;
}
#clientes tfoot tr td { 
	border: none;
	padding: 0.3em; 
}


#operadores table {
	position: relative;
	display: block;
	width: 100%;
	margin: 1em; 
	border-collapse: collapse; 
}
#operadores thead { 
	background-color: #0073ae;
	color: #ffffff;
}
#operadores tbody td, th { 
	padding: .3em; 
	border: 1px #DCDCDC solid;
	text-align: center;
}

/* Fin estilos GDE f1 */

header#header {
	background-color: #ffffff;
	/* background-image: url(../images/logo_falabella.png); */
	background-repeat: no-repeat;
	width: 100%;
	height: 10px;
	/*height: 62px;*/
	padding-top:10px;
}

header#header h1.site_title, header#header h2.section_title {
	margin: 0;
	font-size: 2em;
	float: left;
	display: block;
	line-height: 20px;
	width: 90%;
	font-weight: normal;
	text-align: center;
	color: #9FC425;
	
}

h2.section_title {
    margin: 0;
    font-size: 2em;
    float: left;
    display: block;
    line-height: 20px;
    width: 100%;
    font-weight: normal;
    text-align: center;
    line-height: 32px;
    color: #259abc;
    /* background-color: #f3f3f3; */
}

header#header h1.site_title a {
	color: #0073ae;
	text-decoration: none;
}

header#header h2.section_title {
	/*text-align: center;
	width: 90%;
    margin-top: 20px;*/
	/* background: url(../images/header_shadow.png) no-repeat left top; */
	/*margin: 0;
    font-size: 2em;
    float: left;
    display: block;
    line-height: 20px;*/
    width: 60%;
	margin: 0 auto;
    font-weight: normal;
    text-align: center;
    line-height: 32px;
    color: #fff;
    background-color: #0073ae;
}

header#header h2.section_title span a{
	display: block;
	text-decoration: none;
	color: #C1D6E6;
	font-size: 0.8em;
}

.btn_view_site {
	/*float: left;
	width: 10%;
	margin-left: 40%;*/
	width: 120px;
	position:absolute;
	right:0;
	top:8px;
}

.btn_view_site a {
display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #269abc;
box-shadow:inset 0 12px 15px #72bad0;
margin-top: -5px;
width: 91px;
height: 27px;
text-align: center;
line-height: 29px;
color: #fff;
text-decoration: none;
}

.btn_view_site a:hover {
background-position: 0 -27px;
background-color: #72bad0;
}

/* Secondary Header Bar */

section#secondary_bar {
height: 38px;
width: 100%;
/* background: #F1F1F4 url(../images/secondary_bar.png) repeat-x; */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

section#secondary_bar .user {
float: left;
width: 25%;
height: 38px;
}

.user p {
	/*margin: 0;
	padding: 0;
	color: #0073ae;
	font-weight: bold;
	display: block;
	float: left;
	width: 85%;
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
	text-shadow: 0 1px 0 #fff;
	background: url(../images/icn_user.png) no-repeat center left;
	margin-left: 6%;
	text-align: left;*/
	background: #dbd0d0;
    border-bottom: 8px solid #b5b5b5;
    padding: 7px 0;
    position: absolute;
    top: -4px;
    left: 10px;
    width: 240px;
    box-shadow: inset 0 10px 15px #f1f1f1;
    border-radius: 3px;
    font-weight: 900;
    color: #656565;
}

.user a {
	text-decoration: none;
	color: #77BACE
}

.user a:hover {
	color: #77BACE;
}

.user a.logout_user {
	float: left;
	display: block;
	width: 16px;
	height: 35px;
	text-indent: -5000px;
	background: url(../images/icn_logout.png) center no-repeat;
}

/* Breadcrumbs */

section#secondary_bar .breadcrumbs_container {
	float: left;
	width: 77%;
	background: url(../images/secondary_bar_shadow.png) no-repeat left top;
	height: 38px;
}

article.breadcrumbs {
	float: left;
	padding: 0 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	height: 23px;
	margin: 4px 3%;
}

.breadcrumbs a {
	display: inline-block;
	float: left;
	height: 24px;
	line-height: 23px;
}

.breadcrumbs a.current, .breadcrumbs a.current:hover {
	color: #9E9E9E;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
	color: #44474F;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
}

.breadcrumbs a:hover {
	color: #222222;
}

.breadcrumb_divider {
	display: inline-block;
	width: 12px;
	height: 24px;
	background: url(../images/breadcrumb_divider.png) no-repeat;
	float: left;
	margin: 0 5px;
}

/* Sidebar */

aside#sidebar {
	width: 15%;
	background: #e4e4e4;
	float: left;
	margin: 20px 0 0 15px;
}

aside#sidebar hr {
	border: none;
	outline: none;
	background: url(../images/sidebar_divider.png) repeat-x;
	display: block;
	width: 100%;
	height: 2px;
}
aside#sidebar footer{
	color: #000000;
}

/* Sidebar Menu */

#sidebar h3 {
color: #ffffff;
background-color: #269abc;
/* text-transform: uppercase; */
/* text-shadow: 0 1px 0 #fff; */
font-size: 13px;
margin-top: 0;
padding: 7px 0 7px 0;
display: block;
float: left;
width: 100%;
font-family: Tahoma;
}

.toggleLink {
color: #999999;
font-size: 10px;
text-decoration: none;
display: block;
float: right;
margin-right: 2%
}

#sidebar .toggleLink:hover {
color: #77BACE;
text-decoration: none;
}

#sidebar ul {
clear: both;
margin: 0 0 7px 0; 
padding: 0;
}

#sidebar li {
list-style: none;
margin: 0 5px 0 5px; 
padding: 0 0 0 10%;
text-align: left;
}

#sidebar li a {
color: #000000;
text-decoration: none;
display: inline-block;
height: 17px;
line-height: 17px;
margin: 2px 0;
}
#sidebar li:hover {
background-color: #aaa;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
color: #ffffff;
transition: 0.5s;
}
#sidebar li:hover a{ color:white;}
/*#sidebar li a:hover {
color: #ffffff;
background-color: #f78e1e;
}*/

/* Main Content */


section#main {
width: 83%;
float: left;
margin-top: -2px;
}

#main h3 {
	color: #0073ae;
	font-size: 13px;
	margin: 8px 20px;
}

/* Modules */

.module {
border: 1px solid #DCDCDC;
width: 100%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #ffffff;
}

#main .module header h3 {
	height: 100%;
	display: block;
	float: left;
	color: #000000;
	font-family: Tahoma;
	font-size: 1.2em;
	text-align: left;
	/*background-image: url(../images/llave_naranja.jpg);*/
	background-position: 100% 0;
	background-repeat: no-repeat;
	padding-right: 15px;
}

.module header {
height: 38px;
width: 100%;
background-color: #f0f0f0;
/*background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;*/
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module footer {
height: 32px;
width: 100%;
border-top: 1px solid #9CA1B0;
background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.module_content {
margin: 10px 20px;
color: #666;}

/* Module Widths */

.width_full {
width: 95%;
}

.width_half {
width: 46%;
}

.width_quarter {
width: 26%;
}

.width_3_quarter {
width: 66%;
}

#main .module header h3.tabs_involved {
display: block;
width: 60%;
float: left;
}

/* Messages */

.message {
border-bottom: 1px dotted #cccccc;
}
input[type=submit] {
	background-color: #269abc;
	color:#ffffff;
	padding:8px;
	border:1px solid #269abc;
	border-radius:5px;
	margin:5px;
	box-shadow: inset 0px 5px 20px #31b0d5;
/*background-color: #9FC425;
border: 1px solid #A8A9A8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #ffffff;
cursor: pointer;
margin-top: 15px;
font-family: Tahoma;*/
}

input[type=submit]:hover {
box-shadow: inset 0px 5px 20px #269abc;
cursor:pointer;
}


.ui-tabs-nav, .ui-tabs{
	background:none !important;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom: 1px solid #c3c3c3;
}

th.ui-state-default{
	color:#737373 !important;
	padding:8px;
	background:none !important;


}

.DataTables_sort_icon {
	float: left !important;
}

.fg-toolbar {
	background:#e4e4e4;
	border:0;
	color:#777;
	padding:10px;
	margin:0 !important;
}
/*input[type=submit]:hover {
color: #ffffff;
}*/

input[type=submit].alt_btn {
background: #D0D1D4 url(../images/btn_submit_2.png) repeat-x;
border: 1px solid#30B0C8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #003E49;
text-shadow: 0 1px 0 #6CDCF9;
cursor: pointer;
}

input[type=submit].alt_btn:hover {
color: #001217;
}

input[type=submit].btn_post_message {
background: #D0D1D4 url(../images/post_message.png) no-repeat;
display: block;
width: 37px;
border: none;
height: 24px;
cursor: pointer;
text-indent: -5000px;
}

input[type=submit].btn_post_message:hover {
background-position: 0 -24px;
}

.post_message {
text-align: left;
padding: 5px 0;
}

.post_message input[type=text] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #bbb;
height: 20px;
width: 70%;
color: #ccc;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
text-indent: 10px;
background-position: 10px 6px;
float: left;
margin: 0 3.5%;
}

.post_message input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
color: #666666;
}

.post_message input[type=image] {
float: left;
}

.message_list {
height: 250px;
overflow-x:hidden;
overflow-y: scroll;
}

/* New/Edit Article Module */

fieldset {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F6F6F6;
border: 1px solid #ccc;
padding: 1% 0%;
margin: 10px 0;
}

fieldset label {
display: block;
float: left;
height: 25px;
padding-left: 10px;
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
margin: -5px 0 5px 0;
text-transform: uppercase;
}

fieldset input[type=text] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 13px;
border: 1px solid #BBBBBB;
height: 30px;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
display: block;
float: left;
width: 96%;
margin: 0 10px;
margin-left: 5px !important;
margin-bottom: 10px;
}

fieldset input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
width: 96%;
margin: 0 10px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

fieldset textarea {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0 0.5%;
display: block;
float: left;
width: 96%;
margin: 0 10px;
margin-left: 5px !important;
margin-bottom: 10px;
}

fieldset textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.submit_link {
float: right;
margin-right: 3%;
padding: 5px 0;
}

.submit_link select {
width: 150px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

#main .module_content h1 {
color: #333333;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 22px;
margin: 8px 0px;
}

#main .module_content h2 {
color: #444444;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 18px;
margin: 8px 0px;
}

#main .module_content h3 {
color: #666666;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

#main .module_content h4 {
color: #666666;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

#main .module_content li {
line-height: 150%;
}


/* Operador */
#changeSTT{
	height: 30px;
	border: 1px solid #DCDCDC;
	color: #ffffff;
	background: rgb(255,168,76); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}
#cambiar_estado{
	text-align: left;
}

/*	--------------------------------------------------
	:: Bitacora de supervisor
	-------------------------------------------------- */

.row_selected{
	background-color: #B0BED9 !important ;
}
	
#tabs-1{
	overflow: hidden;
}

#tabla_eventos{
	width: 90%;
	position: absolute;
	left: 50px;
}

#eventos_wrapper {
	text-align: left;
	width: 100%;
	margin: 0px !important;
}

#eventos_v2_wrapper,#eventos_v3_wrapper {
	text-align: left;
	width: 100%;
	padding-top: 55px;
}

/*#eventos_v3_wrapper {
	text-align: left;
	width: 99%;
	margin-left: 10px;
}*/

#eventos_wrapper select{
	width: 5em;
}

#eventos_v2_wrapper select{
	width: 5em;
}

#eventos_v3_wrapper select{
	width: 5em;
}

.flota {
	float:  left;
}

.grupoIzq, .grupoDer {
	position: relative;
	background-color: #ffffff;
	color: #555555;
	width:  200px;
	height: 150px;
	margin: 10px 10px;
	overflow-y: auto;
	text-align: left;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 1px solid #DCDCDC;
}

.grupoIzq{
	float: left;
	clear: right;
}

.grupoDer {
	float: right;
	clear: left;
}

.grupo_texto{
	position: relative;
	display: block;
	width: 100%;
}

.grupo_texto label{
	float: left;
	width: 4em;
	margin: 0 0 0 20px;
}

.filtro_texto, .filtro_fecha{
	float: left; 
}

.filtros{
	position: relative;
	width:  250px;
	height: 600px;
	background-color: #0073ae;
	color: #ffffff;
	z-index: 9999999;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 1px solid #DCDCDC;
}

#filtrosIzq{
	float: left;
	left:   -250px;
}

#fijarIzq{
	position: absolute;
	width: 20px;
	top: 50%;
	left: 230px;
	float: right;
	height: 2em;
	font-size:12px; 
	font-weight:bold;
	cursor: pointer;
}

#filtrosDer{
	float: right;
	right:   -250px;
}

#fijarDer{
	position: absolute;
	width: 20px;
	top: 50%;
	right: 230px;
	float: left;
	height: 2em;
	font-size:12px; 
	font-weight:bold;
	cursor: pointer;
}

#filtro_operadores{
	height: 450px;
}

.dataTables_filter {
	display: none;
}

/*	--------------------------------------------------
	:: Estilo general
	-------------------------------------------------- */

.box{
	width: 350px;
}

.optPrinc{
	background-color: #FFF273;
}

.input_box{
	width: 88%;
	margin: 16px 0;
	background-color: #fff !important;
	font-size: 18px;
	padding: 10px;
}

#form_head
{
text-align: center;
height: 66px;
margin: 0 0 -29px 0;
padding-top: 35px;
border-radius: 8px 8px 0 0;
color: rgb(97, 94, 94);
}

.submit_login {
	width: 95%;
	height: 42px !important;
	font-size: 18px;
}


span.section_title{
	    /* background: url(../images/header_shadow.png) no-repeat left top; */
    width: 60%;
    margin: 0 auto;
     font-weight: normal; 
    /* text-align: center; */
    /* line-height: 32px; */
     /* color: #fff;  */
	color: #259abc;
    /* background-color: #0073ae; */
    /* position: absolute; */
    /* left: auto; */
    /* right: auto; */
    z-index: 100;
	padding: 5px 60px 5px 60px;
    font-size: 22px;
}

#title_menu_header {
    background: #e4e4e4;
    padding: 4px;
    height: 23px;
    border-radius: 5px;
    border: 1px solid #f3f1f1;
    box-shadow: inset 0 10px 20px #f9f9f9;
}

#usr_menu_header{
	margin-left: 1em;
	font-size: 1em;
	font-weight: bold;
}

.menu_header{
	width: 50%;
	margin-left: 1em;
}