.gdenav {
	background: #1F9ED5;
	height: 60px;
	width: 93%;
	float: left;
}

.gdenav li {
	position: relative;
	display: block;
	float: left;
	line-height: 42px
	margin: 0;
}

.gdenav li h2 {
	font-size: 40px;
	font-weight: 300;
	line-height: normal;
	margin-bottom: 30px;
	margin-left: 10px;
	color: white;
}

#logo {
	background-color: #ffffff;
	background-image: url("../images/adessa_logo.jpg");
	background-repeat: no-repeat;
	list-style-type: none;
	height: 80px;
	width: 60px;
}