/*	--------------------------------------------------
:: Estilo general
-------------------------------------------------- */
@font-face {
    font-family: bootstrap;
    src: url(css/fonts/glyphicons-halflings-regular.woff);
}
body{
	background-color: #FFFFFF;
	font-family: arial;
}

select {
	width: 10em;
}

/*	--------------------------------------------------
:: Encabezado
-------------------------------------------------- */
#subheader_1{
	position: relative;
	height: 50px;
	border: 1px solid red;
}
#subheader_2{
	border: 1px solid green;
	position: relative;
	height: 20px;
}

#turno{
	position: relative;
	width: 30%;
	height: 100%;
	border: 1px solid blue;
	float:left;
}

#estado{
	position: relative;
	width: 65%;
	height: 100%;
	border: 1px solid blue;
	float:left;
}

#estado_actual{
	text-align:center;
}

#accion_estado{
	position: relative;
	margin-bottom: 15px;
	float: right;
}

#header input{
	float: right;
}

#selCambioEstado{
	/*width: 7.5em;*/
	margin-top:8px;
	margin-left:15px;
	margin-right:10px;
}

.ui-tabs .ui-tabs-panel{
	padding:0 !important;
}
/*Menu en encabezado*/

.menu_header{
	width: 50%;
	margin-left: 1em;
}

#title_menu_header{
	/*padding-top: 0.5em;
	height: 2.5em;
	background-image: linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	background-image: -o-linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	background-image: -moz-linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	background-image: -webkit-linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	background-image: -ms-linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
	background:#e4e4e4;
	padding:4px;
	height:23px;
	border-radius:5px;
	border:1px solid #f3f1f1;
	box-shadow: inset 0 10px 20px #f9f9f9;
}

#sem_menu_header{
	width: 2em;
	height: 2em;
	margin-left: 1em;
	font-weight:bold;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

.sem_menu_header_green{
	background-color: #ffffff;
    box-shadow: inset 5px 5px 12px #bbbbbb;
    border: 1px solid #d0d0d0;
}

.sem_menu_header_red{
	background-color: #ff3300;
}

#usr_menu_header{
	margin-left: 1em;
	font-size: 1em;
	font-weight: bold;
}

#sel_menu_header{
	cursor: pointer;
	width: 0px;
	height: 0px;
	margin-right: 1em;
	margin-top: 0.5em;
	border-style: solid;
	border-width: 1em 0.5em 0 0.5em;
	border-color: #6b6b6b transparent transparent transparent;
}

#filtro_menu_header{
	cursor: pointer;
	width: 0px;
	height: 0px;
	margin-right: 1em;
	margin-top: 0.5em;
	border-style: solid;
	border-width: 1em 0.5em 0 0.5em;
	border-color: #6b6b6b transparent transparent transparent;
}

#options_menu_header{
	display: none;
	width: 48%;
	background-color:#D6CBCB;
	position: absolute;
	padding: 0 5px 0 5px;
	z-index: 999;
}

.option_menu_header{
	width: 215px;
	cursor: pointer;
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color:transparent transparent #BAB1BA transparent;	
}

.option_menu_header:hover{
	background-color: #F0E8E8;
}

/*	--------------------------------------------------
:: Modificaciones a la TABLA de EVENTOS
-------------------------------------------------- */
.criticidad0 td, .criticidad1 td{
	font-weight: bold !important;
}
.criticidad0 td{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.criticidad0 td:first-child{
	border-left: 1px solid black;
}
.criticidad0 td:last-child{
	border-right: 1px solid black;
}

.dataTables_filter {      /*Ocultar campo de busqueda en la cabezera de la tabla*/
	display: none;
}

.ui-buttonset .ui-button{ /*Numeros de paginacion tengan espacios*/
	margin-right: 3px;
	background:white !important;
	padding:5px;
	color:black !important;
}
.dataTables_paginate {
	position:absolute;
	bottom:0;
	right:0;
	cursor:pointer;
	z-index:200;
}



#eventos tbody tr:hover{
	background-color: #FDFE87 ;
}

#eventos_v2 tbody tr:hover{
	background-color: #FDFE87 ;
}

#eventos_v3 tbody tr:hover{
	background-color: #FDFE87 ;
}

.marcado:nth-child(2n+1){
	 background-color: #BAB1BA !important ;
}

.marcado:nth-child(2n){
	 background-color: #BAB1BA !important ;
}

#eventos tbody tr.row_selected{
	background-color: #98FD9D !important ;
}

#eventos_v2 tbody tr.row_selected{
	background-color: #98FD9D !important ;
}

#eventos_v3 tbody tr.row_selected{
	background-color: #98FD9D !important ;
}


#eventos_wrapper tbody td{
	text-align: center;
}

#eventos_v2_wrapper tbody td{
	text-align: center;
}

#eventos_v3_wrapper tbody td{
	text-align: center;
}

/*	--------------------------------------------------
:: Filtros de Busqueda
-------------------------------------------------- */
.mov_contenedor_filtros{
	cursor: pointer;
}

.contenedor_filtros{
	z-index:     999;
	overflow-y: hidden;
	/*margin-top:    40px;*/
	height: 650px;
	width: 100%;
	color:  #ffffff;
	background-color:      #0073ae;
	border-radius:         10px; 
	-moz-border-radius:    10px; 
	-webkit-border-radius: 10px; 
}

.grupo {
	position:   relative;
	overflow-y: auto;
	color:  #555555;
	float:  left;
	clear:  right;
	width:  85%;
	height: 100px;
	margin: 3px 10px;
	text-align: left;
	border:     1px solid #DCDCDC;
	background-color:      #ffffff;
}

.grupo table{
	width: 100%;
}

.grupo td{
	font-size: 11px;
}

.filtro_titulo{
	margin-top: 5px;
	position:   relative;
	margin-left: 15px;
	float:  left;
}

.contenedor_masivo_b{
	position:   relative;
	margin: 5px;
	padding: 0px;
	overflow-y: scroll;
	color:  #555555;
	float:  left;
	clear:  right;
	width:  95%;
	height: 65%;
	text-align: left;
	border:     1px solid #DCDCDC;
	background-color:      #ffffff;
	border-radius:         10px; 
	-moz-border-radius:    10px; 
	-webkit-border-radius: 10px; 
	font-size: 11px;
}

.contenedor_masivo{
	position:   relative;
	margin: 5px;
	padding: 0px;
	overflow-y: scroll;
	color:  #555555;
	float:  left;
	clear:  right;
	width:  95%;
	height: 20%;
	text-align: left;
	border:     1px solid #DCDCDC;
	background-color:      #ffffff;
	border-radius:         10px; 
	-moz-border-radius:    10px; 
	-webkit-border-radius: 10px; 
	font-size: 11px;
}

.contenedor_masivo ul{
	margin: 0;
	left: -15px;
	list-style: none;
}

.contenedor_masivo ul li{
	margin-left: 20px;
	margin-bottom: 0;
}

.contenedor_masivo_b ul{
	margin: 0;
	left: -15px;
	list-style: none;
}

.contenedor_masivo_b ul li{
	margin-left: 20px;
	margin-bottom: 0;
}

#fijar{
	position: absolute;
	width:    20px;
	top:      50%;
	left:     230px;
	float:    right;
	height:   2em;
	font-size:   12px; 
	font-weight: bold;
	cursor:      pointer;
}
.grande{             /*Grupo clientes*/
	height: 20em;
}
.chico{              /*Grupo estados*/
	height: 8.5em;
}

.chico_chico {              /*Grupo estados*/
	height: 5em;
}

.grupo_texto{
	position: relative;
	display:  block;
	width:    100%;
}
.grupo_texto label{
	float:  left;
	width:  4em;
	margin: 0 0 0 20px;
}

.filtro_texto{
	float: left; 
	margin-left: 10px;
}


/*	--------------------------------------------------
:: Menu de pruebas y acciones (se reemplazara con context menu)
-------------------------------------------------- */
.menu{
	z-index:     99999;
	position:    absolute;
	top:         0;
	left:        0;
	display:     none;
	width:       130px;
	color:       #0073AE;
	background:  #fff;
	-moz-opacity: .70; 
	filter:       alpha(opacity=70); 
	opacity:      .70;
	border: 5px solid #0073AE ;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.menu table{
	width:    100%;
	border: none;
}

.menu td{
	border: none;
}

.menu td:hover{
	background: #bfbfbf;
}

/*	--------------------------------------------------
:: Area de Informacion (historia, sumarizacion, comentario)
-------------------------------------------------- */
#informacion{
	height:     210px;
	margin-top: 5px;
}

.bloque_informacion{
/*border: 5px solid #0073AE; */
    position: relative;
    height: 295px;
    width: 400px;
    /* margin-right: 10px; */
    margin-top: 25px;
    margin: 25px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    background: white;
}

.bloque_informacion p{
	margin: 0;
}

.bloque_informacion input{
	display: inline;
	float: left;
	margin: 0;
}
.bloque_informacion input[type='text']{
	width: 75%;
	margin-right: 1%;
}
div.boxInside{
	height: 100%;
	overflow-y: scroll;
}

div.boxInside table{
	width: 100%;
}

div.boxInside table td{
	padding:       2px;
	border-bottom: 1px solid black;
}

div.boxInside table td:first-child{
	width: 120px;
}

div.boxInside table td:nth-child(2){
	width: 60px;
}

div.boxInsideT{
	height: 80%;
	overflow-y: scroll;
}

div.boxInsideT table{
	width: 100%;
}

div.boxInsideT table td{
	padding: 2px;
	border-bottom: 1px solid black;
}

div.boxInsideT table td:first-child{
	width: 120px;
}

div.boxInsideT table td:nth-child(2){
	width: 60px;
}

/*	--------------------------------------------------
:: Vista de fallas masivas
-------------------------------------------------- */

#contenedor_tablaMasivo{
	height: 80%;
}

.padre_arbol{
	cursor: pointer;
}

.sucursalAsociada{
	font-weight: bold;
	color: #FF0000;
}

/*	--------------------------------------------------
:: Modificaciones archivo gde_entel.css
-------------------------------------------------- */

section#secondary_bar .user{
	width: 100%;
	height: none;
	float: none;
}

.mov_contenedor_header{
	cursor: pointer;
}

#row_header{
	overflow-y: hidden;
}

.contenedor_filtros_superior{
	z-index:     999;
	overflow-y: hidden;
	margin-top:    5px;
	height: 170px;
	width: 100%;
	color:  #ffffff;
	background-color:      #269cbf;
}

.contenedor_filtros_lateral{
	z-index:     999;
	overflow-y: hidden;
	/*margin-top:    40px;*/
	margin-left: 10px;
	height: 100%;
	width: 99%;
	color:  #ffffff;
	border-radius:         10px; 
	-moz-border-radius:    10px; 
	-webkit-border-radius: 10px; 
}

.criticidadMINOR td {
	color: #000000;
}

.criticidadMAJOR td {
	color: #000000;
}

.criticidadCRITICAL td {
	color: #FFFFFF;
}

table.cell-border tbody th,table.cell-border tbody td {
	border-top:1px solid #ddd;
	border-right:1px solid #ddd
}

table.cell-border tbody tr th:first-child,table.cell-border tbody tr td:first-child {
	border-left:1px solid #ddd
}

table.cell-border tbody tr:first-child th,table.cell-border tbody tr:first-child td {
	border-top:none
}

.icon_clear {
	height: 15px;
    margin-top: 3px;
    cursor: pointer;
}

div.dataTables_scroll { 
	clear: both; 
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 300; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #2ba4c7; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	box-shadow: 0px 0px 44px #444;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
    top: 0;
    /* right: 25px; */
    /* font-size: 36px; */
    /* margin-left: 50px; */
    background: white;
    left: -22px;
    border-radius: 0 0 10px 0;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenavMail {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenavMail a {font-size: 18px;}
}

.ui-tabs .ui-tabs-nav
{
	background: #BAB1BA;
}


.sidenavMail {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenavMail a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* Position and style the close button (top right corner) */
.sidenavMail .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.se-pre-con {
    height:     100%;
    width:      35%;
    position:   fixed;
    z-index:    1;
    top:        0;
    left:       0;
	display:    none;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/Preloader_1.gif') 
                50% 50% 
                no-repeat;
}

.select_filtro_menu {
	cursor: pointer;
}