.flotante{
	float:   left;
	display: block;
}

.flotante table{
	padding: 5px;
}

.tabla_presentacion{
	max-height: 150px;
	overflow-y: scroll;
}

.tabla_presentacion table{
	width: 100%;
}

.tabla_presentacion table td{
	border: 1px solid black;
	padding: 2px;
}

.tabla_presentacion table td:first-child{
	width: 120px;
}

.tabla_presentacion table td:nth-child(2){
	width: 100px;
}