/*	--------------------------------------------------
:: Estilo general
-------------------------------------------------- */

body{
	background-color: #FFFFFF;
}

select {
	width: 10em;
}

/*	--------------------------------------------------
:: Encabezado
-------------------------------------------------- */
#subheader_1{
	position: relative;
	height: 50px;
	border: 1px solid red;
}
#subheader_2{
	border: 1px solid green;
	position: relative;
	height: 20px;
}

#turno{
	position: relative;
	width: 30%;
	height: 100%;
	border: 1px solid blue;
	float:left;
}

#estado{
	position: relative;
	width: 65%;
	height: 100%;
	border: 1px solid blue;
	float:left;
}

#estado_actual{
	text-align:center;
}

#accion_estado{
	position: relative;
	margin-bottom: 15px;
	float: right;
}

#header input{
	float: right;
}

#selCambioEstado{
	width: 7.5em;
}

/*Menu en encabezado*/

.menu_header{
	width: 50%;
	margin-left: 1em;
}

#title_menu_header{
	padding-top: 0.5em;
	height: 2.5em;
	background-image: linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	background-image: -o-linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	background-image: -moz-linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	background-image: -webkit-linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	background-image: -ms-linear-gradient(bottom, #BAB1BA 28%, #D6CBCB 0%, #F0E8E8 85%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#sem_menu_header{
	width: 2em;
	height: 2em;
	margin-left: 1em;
	font-weight:bold;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

.sem_menu_header_green{
	background-color: #79fa00;
}

.sem_menu_header_red{
	background-color: #ff3300;
}

#usr_menu_header{
	margin-left: 1em;
	font-size: 1em;
	font-weight: bold;
}

#sel_menu_header{
	cursor: pointer;
	width: 0px;
	height: 0px;
	margin-right: 1em;
	margin-top: 0.5em;
	border-style: solid;
	border-width: 1em 0.5em 0 0.5em;
	border-color: #6b6b6b transparent transparent transparent;
}

#options_menu_header{
	display: none;
	width: 48%;
	background-color:#D6CBCB;
	position: absolute;
	padding: 0 5px 0 5px;
	z-index: 999;
}

.option_menu_header{
	width: 215px;
	cursor: pointer;
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color:transparent transparent #BAB1BA transparent;	
}

.option_menu_header:hover{
	background-color: #F0E8E8;
}

/*	--------------------------------------------------
:: Modificaciones a la TABLA de EVENTOS
-------------------------------------------------- */
.criticidad0 td, .criticidad1 td{
	font-weight: bold !important;
}
.criticidad0 td{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.criticidad0 td:first-child{
	border-left: 1px solid black;
}
.criticidad0 td:last-child{
	border-right: 1px solid black;
}

.dataTables_filter {      /*Ocultar campo de busqueda en la cabezera de la tabla*/
	display: none;
}

.ui-buttonset .ui-button{ /*Numeros de paginacion tengan espacios*/
	margin-right: 3px;
}

#nodos_asociados td{
	cursor: pointer;
}

#eventos tbody tr:hover{
	background-color: #FDFE87 ;
}

.marcado:nth-child(2n+1){
	 background-color: #FFFFCC !important ;
}

.marcado:nth-child(2n){
	 background-color: #FFFFD8 !important ;
}

#eventos tbody tr.row_selected, #nodos_asociados tbody tr.row_selected {
	background-color: #B0BED9 !important ;
}


#eventos_wrapper tbody td{
	text-align: center;
}
/*	--------------------------------------------------
:: Filtros de Busqueda
-------------------------------------------------- */
.mov_contenedor_filtros{
	cursor: pointer;
}

.contenedor_filtros{
	z-index:     999;
	overflow-y: hidden;
	margin-top:    40px;
	height: 458px;
	width: 100%;
	color:  #ffffff;
	background-color:      #0073ae;
	border-radius:         10px; 
	-moz-border-radius:    10px; 
	-webkit-border-radius: 10px; 
}

.ui-widget-header { border: 1px solid #aaaaaa; background-color: #0073ae !important; color: #ffffff; font-weight: bold; }

.grupo {
	position:   relative;
	overflow-y: scroll;
	color:  #555555;
	float:  left;
	clear:  right;
	width:  85%;
	height: 140px;
	margin: 3px 10px;
	text-align: left;
	border:     1px solid #DCDCDC;
	background-color:      #ffffff;
	border-radius:         10px; 
	-moz-border-radius:    10px; 
	-webkit-border-radius: 10px; 
}

#filtro_TICKET_CLIID {
	position:   relative;
	overflow-y: scroll;
	color:  #555555;
	float:  left;
	clear:  right;
	width:  85%;
	height: 150px;
	margin: 3px 10px;
	text-align: left;
	border:     1px solid #DCDCDC;
	background-color:      #ffffff;
	border-radius:         10px; 
	-moz-border-radius:    10px; 
	-webkit-border-radius: 10px; 
}

.grupo table{
	width: 100%;
}

.grupo td{
	font-size: 11px;
}

.filtro_titulo{
	position:   relative;
	margin-left: 15px;
	float:  left;
}

.contenedor_masivo_b{
	position:   relative;
	margin: 5px;
	padding: 0px;
	overflow-y: scroll;
	color:  #555555;
	float:  left;
	clear:  right;
	width:  95%;
	height: 65z%;
	text-align: left;
	border:     1px solid #DCDCDC;
	background-color:      #ffffff;
	border-radius:         10px; 
	-moz-border-radius:    10px; 
	-webkit-border-radius: 10px; 
	font-size: 11px;
}

.contenedor_masivo{
	position:   relative;
	margin: 5px;
	padding: 0px;
	overflow-y: scroll;
	color:  #555555;
	float:  left;
	clear:  right;
	width:  95%;
	height: 20%;
	text-align: left;
	border:     1px solid #DCDCDC;
	background-color:      #ffffff;
	border-radius:         10px; 
	-moz-border-radius:    10px; 
	-webkit-border-radius: 10px; 
	font-size: 11px;
}

.contenedor_masivo ul{
	margin: 0;
	left: -15px;
	list-style: none;
}

.contenedor_masivo ul li{
	margin-left: 20px;
	margin-bottom: 0;
}

.contenedor_masivo_b ul{
	margin: 0;
	left: -15px;
	list-style: none;
}

.contenedor_masivo_b ul li{
	margin-left: 20px;
	margin-bottom: 0;
}

#fijar{
	position: absolute;
	width:    20px;
	top:      50%;
	left:     230px;
	float:    right;
	height:   2em;
	font-size:   12px; 
	font-weight: bold;
	cursor:      pointer;
}
.grande{             /*Grupo clientes*/
	height: 23em;
}
.chico{              /*Grupo estados*/
	height: 8em;
}

.grupo_texto{
	position: relative;
	display:  block;
	width:    100%;
}
.grupo_texto label{
	float:  left;
	width:  4em;
	margin: 0 0 0 20px;
}

.filtro_texto{
	float: left; 
	margin-left: 10px;
}


/*	--------------------------------------------------
:: Menu de pruebas y acciones (se reemplazara con context menu)
-------------------------------------------------- */
.menu{
	z-index:     99999;
	position:    absolute;
	top:         0;
	left:        0;
	display:     none;
	width:       130px;
	color:       #0073AE;
	background:  #fff;
	-moz-opacity: .70; 
	filter:       alpha(opacity=70); 
	opacity:      .70;
	border: 5px solid #0073AE ;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.menu table{
	width:    100%;
	border: none;
}

.menu td{
	border: none;
}

.menu td:hover{
	background: #bfbfbf;
}

/*	--------------------------------------------------
:: Area de Informacion (datos, nodos_asociados, eventos_nodo)
-------------------------------------------------- */
.display{
	text-align: left;
	font-size: 20px;
	line-height: 18px;
}

.bloque_datos{
	border:   5px solid #0073AE;
	position: relative;
	height:   160px;
	/* border-radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box-shadow */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

#nodos_asociados, #eventos {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#nodos_eventos_ticket {
	margin-top: 10px;
}

.bloque_datos p{
	margin: 0;
}

.bloque_datos input{
	display: inline;
	float: left;
	margin: 0;
}
.bloque_datos input[type='text']{
	width: 75%;
	margin-right: 1%;
}
div.boxInside{
	height: 85%;
	overflow-y: scroll;
}

div.boxInside table{
	width: 100%;
}

div.boxInside table td{
	border-bottom: 1px solid black;
}

div.boxInside table td:first-child{
	width: 120px;
}

div.boxInside table td:nth-child(2){
	width: 60px;
}

div.boxInside table td:nth-child(3){
	width: 30px;
	text-align: center;
}

div.boxInsideT{
	height: 95%;
	overflow-y: scroll;
}

div.boxInsideT table{
	width: 100%;
}

div.boxInsideT table td{
	padding: 2px;
	border-bottom: 1px solid black;
}

div.boxInsideT table td:first-child{
	width: 120px;
}

div.boxInsideT table td:nth-child(2){
	width: 80px;
}

/*	--------------------------------------------------
:: Vista de fallas masivas
-------------------------------------------------- */

#contenedor_tablaMasivo{
	height: 80%;
}

.padre_arbol{
	cursor: pointer;
}

.sucursalAsociada{
	font-weight: bold;
	color: #FF0000;
}

/*	--------------------------------------------------
:: Modificaciones archivo gde_entel.css
-------------------------------------------------- */

section#secondary_bar .user{
	width: 100%;
	height: none;
	float: none;
}

.mov_contenedor_header{
	cursor: pointer;
}

#row_header{
	overflow-y: hidden;
}

.logo_site {
	margin-top: 10px;
}

.option_menu_header:hover {
	background-color: #F0E8E8;
}

img.mail_boton {
	float: left;
	margin-left: 60px;
}

img.info_boton {
	float: left;
}

.spinner {
	float: left;
	height: 20px;
	text-align: center;
	width: 24px;
}